In [1]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_excel("C:/Users/chait/Downloads/financial_loan_data_excel.xlsx", parse_dates=['issue_date','last_credit_pull_date','last_payment_date','next_payment_date'])

# Convert loan_status to simplified numeric for correlation
df['default_flag'] = df['loan_status'].apply(lambda x: 1 if x=='Charged Off' else 0)

In [2]:
df.columns

Index(['id', 'address_state', 'application_type', 'emp_length', 'emp_title',
       'grade', 'home_ownership', 'issue_date', 'last_credit_pull_date',
       'last_payment_date', 'loan_status', 'next_payment_date', 'member_id',
       'purpose', 'sub_grade', 'term', 'verification_status', 'annual_income',
       'dti', 'installment', 'int_rate', 'loan_amount', 'total_acc',
       'total_payment', 'default_flag'],
      dtype='object')

In [3]:
df.head()

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment,default_flag
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,...,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009,1
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939,0
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-01-05,2021-12-12,2021-01-09,...,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522,1
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,...,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911,0
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835,0

In [4]:
df.tail()

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment,default_flag
38571,803452,NJ,INDIVIDUAL,< 1 year,Joseph M Sanzari Company,C,MORTGAGE,2021-07-11,2021-05-16,2021-05-16,...,60 months,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946,0
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,2021-10-11,2021-04-16,2021-05-16,...,60 months,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870,0
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,2021-09-11,2021-05-16,2021-05-16,...,60 months,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721,0
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,2021-10-11,2021-05-16,2021-05-16,...,60 months,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677,0
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,2021-07-11,2021-05-16,2021-05-16,...,60 months,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38576 non-null  int64
 1   address_state          38576 non-null  object
 2   application_type       38576 non-null  object
 3   emp_length             38576 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  38576 non-null  object
 6   home_ownership         38576 non-null  object
 7   issue_date             38576 non-null  datetime64[ns]
 8   last_credit_pull_date  38576 non-null  datetime64[ns]
 9   last_payment_date      38576 non-null  datetime64[ns]
 10  loan_status            38576 non-null  object
 11  next_payment_date      38576 non-null  datetime64[ns]
 12  member_id              38576 non-null  int64
 13  purpose                38576 non-null  object
 14  sub_grade              38576 non-null  object
 15  term                   38576 non-null  object
 16  verification_status    38576 non-null  object
 17  annual_income          38576 non-null  float64
 18  dti                    38576 non-null  float64
 19  installment            38576 non-null  float64
 20  int_rate               38576 non-null  float64
 21  loan_amount            38576 non-null  int64
 22  total_acc              38576 non-null  int64
 23  total_payment          38576 non-null  int64
 24  default_flag           38576 non-null  int64
dtypes: datetime64[ns](4), float64(4), int64(6), object(11)
memory usage: 7.4+ MB

In [9]:
print("No of rows:", df.shape[0])

No of rows: 38576

In [10]:
print("No of Columns:", df.shape[1])

No of Columns: 25

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38576 non-null  int64
 1   address_state          38576 non-null  object
 2   application_type       38576 non-null  object
 3   emp_length             38576 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  38576 non-null  object
 6   home_ownership         38576 non-null  object
 7   issue_date             38576 non-null  datetime64[ns]
 8   last_credit_pull_date  38576 non-null  datetime64[ns]
 9   last_payment_date      38576 non-null  datetime64[ns]
 10  loan_status            38576 non-null  object
 11  next_payment_date      38576 non-null  datetime64[ns]
 12  member_id              38576 non-null  int64
 13  purpose                38576 non-null  object
 14  sub_grade              38576 non-null  object
 15  term                   38576 non-null  object
 16  verification_status    38576 non-null  object
 17  annual_income          38576 non-null  float64
 18  dti                    38576 non-null  float64
 19  installment            38576 non-null  float64
 20  int_rate               38576 non-null  float64
 21  loan_amount            38576 non-null  int64
 22  total_acc              38576 non-null  int64
 23  total_payment          38576 non-null  int64
 24  default_flag           38576 non-null  int64
dtypes: datetime64[ns](4), float64(4), int64(6), object(11)
memory usage: 7.4+ MB

In [12]:
df.dtypes

id                                int64
address_state                    object
application_type                 object
emp_length                       object
emp_title                        object
grade                            object
home_ownership                   object
issue_date               datetime64[ns]
last_credit_pull_date    datetime64[ns]
last_payment_date        datetime64[ns]
loan_status                      object
next_payment_date        datetime64[ns]
member_id                         int64
purpose                          object
sub_grade                        object
term                             object
verification_status              object
annual_income                   float64
dti                             float64
installment                     float64
int_rate                        float64
loan_amount                       int64
total_acc                         int64
total_payment                     int64
default_flag                      int64
dtype: object

In [13]:
df.describe()

,id,issue_date,last_credit_pull_date,last_payment_date,next_payment_date,member_id,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment,default_flag
count,3.857600e+04,38576,38576,38576,38576,3.857600e+04,3.857600e+04,38576.000000,38576.000000,38576.000000,38576.000000,38576.000000,38576.000000,38576.000000
mean,6.810371e+05,2021-07-16 02:31:35.562007040,2021-06-08 13:36:34.193280512,2021-06-26 09:52:08.909166080,2021-07-26 20:42:20.605557760,8.476515e+05,6.964454e+04,0.133274,326.862965,0.120488,11296.066855,22.132544,12263.348533,0.138247
min,5.473400e+04,2021-01-01 00:00:00,2021-01-08 00:00:00,2021-01-08 00:00:00,2021-02-08 00:00:00,7.069900e+04,4.000000e+03,0.000000,15.690000,0.054200,500.000000,2.000000,34.000000,0.000000
25%,5.135170e+05,2021-04-11 00:00:00,2021-04-15 00:00:00,2021-03-16 00:00:00,2021-04-16 00:00:00,6.629788e+05,4.150000e+04,0.082100,168.450000,0.093200,5500.000000,14.000000,5633.000000,0.000000
50%,6.627280e+05,2021-07-11 00:00:00,2021-05-16 00:00:00,2021-06-14 00:00:00,2021-07-14 00:00:00,8.473565e+05,6.000000e+04,0.134200,283.045000,0.118600,10000.000000,20.000000,10042.000000,0.000000
75%,8.365060e+05,2021-10-11 00:00:00,2021-08-13 00:00:00,2021-09-15 00:00:00,2021-10-15 00:00:00,1.045652e+06,8.320050e+04,0.185900,434.442500,0.145900,15000.000000,29.000000,16658.000000,0.000000
max,1.077501e+06,2021-12-12 00:00:00,2022-01-20 00:00:00,2021-12-15 00:00:00,2022-01-15 00:00:00,1.314167e+06,6.000000e+06,0.299900,1305.190000,0.245900,35000.000000,90.000000,58564.000000,1.000000
std,2.113246e+05,NaN,NaN,NaN,NaN,2.668105e+05,6.429368e+04,0.066662,209.092000,0.037164,7460.746022,11.392282,9051.104777,0.345163

In [14]:
state_perf = df.groupby('address_state')['default_flag'].mean().sort_values(ascending=False)
highest_default_state = state_perf.idxmax()
lowest_default_state = state_perf.idxmin()
print("Highest default rate state:", highest_default_state)
print("Lowest default rate state:", lowest_default_state)

Highest default rate state: NE
Lowest default rate state: ME

In [15]:
correlation = df['loan_amount'].corr(df['int_rate'])
print("Correlation between loan amount and interest rate:", correlation)

Correlation between loan amount and interest rate: 0.30824298473985967

In [16]:
emp_length_avg = df.groupby('emp_length')['int_rate'].mean().sort_values(ascending=False)
print(emp_length_avg)

emp_length
7 years      0.121754
4 years      0.121668
10+ years    0.120927
6 years      0.120730
2 years      0.120714
1 year       0.120530
5 years      0.120270
3 years      0.120170
< 1 year     0.119177
9 years      0.119123
8 years      0.119061
Name: int_rate, dtype: float64

In [17]:
purpose_default = df.groupby('purpose')['default_flag'].mean().sort_values(ascending=False)
print(purpose_default)

purpose
small business        0.256194
renewable_energy      0.180851
educational           0.158730
house                 0.155738
other                 0.153504
moving                0.150268
medical               0.149925
Debt consolidation    0.145547
vacation              0.142045
home improvement      0.113700
car                   0.103540
credit card           0.101641
major purchase        0.097630
wedding               0.092672
Name: default_flag, dtype: float64

In [18]:
premium = df[(df['annual_income']>75000) & (df['dti']<0.1)]
non_premium = df[~((df['annual_income']>75000) & (df['dti']<0.1))]

premium_stats = premium.agg({'loan_amount':'mean','int_rate':'mean','default_flag':'mean'})
non_premium_stats = non_premium.agg({'loan_amount':'mean','int_rate':'mean','default_flag':'mean'})

print("Premium borrowers stats:\n", premium_stats)
print("Non-premium borrowers stats:\n", non_premium_stats)

Premium borrowers stats:
 loan_amount     14452.771832
int_rate            0.115490
default_flag        0.093536
dtype: float64
Non-premium borrowers stats:
 loan_amount     10861.070228
int_rate            0.121177
default_flag        0.144408
dtype: float64

In [19]:
term_stats = df.groupby('term').agg({
    'int_rate':'mean',
    'default_flag':'mean',
    'installment':'mean'
})
print(term_stats)

            int_rate  default_flag  installment
term
 36 months  0.110309      0.107058   314.252478
 60 months  0.148289      0.223426   361.303658

In [20]:
# Revenue = installment * number of months * int_rate
df['term_months'] = df['term'].str.extract('(\d+)').astype(int)
df['expected_revenue'] = df['installment'] * df['term_months'] * df['int_rate']
top_revenue_loans = df.sort_values('expected_revenue', ascending=False).head(10)
print(top_revenue_loans[['id','expected_revenue','loan_amount','int_rate']])

            id  expected_revenue  loan_amount  int_rate
22308  1034059       14418.59076        35000    0.2391
22318  1019978       14071.92192        35000    0.2352
23366   856652       13808.00520        35000    0.2322
23363   976906       13729.36662        35000    0.2313
27251  1047248       13729.36662        35000    0.2313
23337   874599       13485.97860        35000    0.2285
24110  1020847       13390.90380        35000    0.2274
21652   989285       13390.90380        35000    0.2274
22018   994796       13390.90380        35000    0.2274
6239    965807       13390.90380        35000    0.2274

In [21]:
verification_stats = df.groupby('verification_status')['default_flag'].mean()
print(verification_stats)

verification_status
Not Verified       0.122388
Source Verified    0.141352
Verified           0.156952
Name: default_flag, dtype: float64

In [22]:
correlations = df[['annual_income','dti','total_acc','loan_amount','default_flag']].corr()['default_flag'].sort_values(ascending=False)
print(correlations)

default_flag     1.000000
loan_amount      0.053256
dti              0.040696
total_acc       -0.019685
annual_income   -0.038181
Name: default_flag, dtype: float64

In [23]:
df['time_to_last_payment'] = (df['last_payment_date'] - df['issue_date']).dt.days
time_stats = df.groupby('loan_status')['time_to_last_payment'].mean()
print(time_stats)

loan_status
Charged Off    -18.471779
Current       -122.471767
Fully Paid     -16.386188
Name: time_to_last_payment, dtype: float64

In [24]:
df['term_months'] = df['term'].str.extract('(\d+)').astype(int)

In [29]:
df['expected_last_payment'] = df['issue_date'] + pd.to_timedelta(df['term_months']*30, unit='D')
late_loans = df[df['next_payment_date'] > df['expected_last_payment']]
late_by_state = late_loans.groupby('address_state').size().sort_values(ascending=False)
print(late_by_state)

Series([], dtype: int64)

In [30]:
subgrade_premium = df.groupby('sub_grade')['int_rate'].mean().sort_values(ascending=False)
print(subgrade_premium)

sub_grade
G4    0.219741
G5    0.218967
G3    0.216160
G1    0.210914
G2    0.210660
F5    0.207300
F4    0.203407
F3    0.200280
F2    0.193907
F1    0.192010
E5    0.187087
E4    0.182649
E3    0.177709
E2    0.174320
E1    0.170083
D5    0.166341
D4    0.161519
D3    0.157645
D2    0.153489
D1    0.148384
C5    0.144933
C4    0.140427
C3    0.136511
C2    0.133496
C1    0.128522
B5    0.117866
B4    0.114090
B3    0.109976
B2    0.104936
B1    0.100120
A5    0.082733
A4    0.076643
A3    0.071728
A2    0.063863
A1    0.058137
Name: int_rate, dtype: float64

In [31]:
top_emp_titles = df.groupby('emp_title')['default_flag'].mean().sort_values(ascending=False).head(5)
print(top_emp_titles)

emp_title
15                                1.0
Kalahari Resorts                  1.0
Kelly Pre-Owned LLC               1.0
Kellogg                           1.0
Keller Williams Premier Realty    1.0
Name: default_flag, dtype: float64

In [32]:
home_default = df.groupby('home_ownership')['default_flag'].mean().sort_values(ascending=False)
print(home_default)

home_ownership
OTHER       0.183673
RENT        0.145724
OWN         0.139887
MORTGAGE    0.129724
NONE        0.000000
Name: default_flag, dtype: float64

In [33]:
bins = [0,5000,15000,np.inf]
labels = ['Small','Medium','Large']
df['loan_bucket'] = pd.cut(df['loan_amount'], bins=bins, labels=labels)
loan_bucket_stats = df.groupby('loan_bucket').agg({'int_rate':'mean','default_flag':'mean','expected_revenue':'sum'})
print(loan_bucket_stats)

             int_rate  default_flag  expected_revenue
loan_bucket
Small        0.112145      0.130473      4.413113e+06
Medium       0.115869      0.125906      2.964414e+07
Large        0.139328      0.173947      3.765111e+07

C:\Users\chait\AppData\Local\Temp\ipykernel_2636\3404138365.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  loan_bucket_stats = df.groupby('loan_bucket').agg({'int_rate':'mean','default_flag':'mean','expected_revenue':'sum'})

In [34]:
df['income_loan_ratio'] = df['annual_income']/df['loan_amount']
ratio_corr = df['income_loan_ratio'].corr(df['default_flag'])
print("Correlation income/loan ratio vs default:", ratio_corr)

Correlation income/loan ratio vs default: -0.04105689938791358

In [35]:
combo = df.groupby(['verification_status','term']).agg({'default_flag':'mean'})
print(combo)

                                default_flag
verification_status term
Not Verified         36 months      0.109593
                     60 months      0.199658
Source Verified      36 months      0.099956
                     60 months      0.236505
Verified             36 months      0.108782
                     60 months      0.226767

In [36]:
state_top_revenue = df.loc[df.groupby('address_state')['expected_revenue'].idxmax()]
print(state_top_revenue[['address_state','id','expected_revenue']])

      address_state       id  expected_revenue
6476             AK  1039811      10673.581560
23316            AL   819515      11737.149120
30271            AR   724312      10627.129920
23337            AZ   874599      13485.978600
27251            CA  1047248      13729.366620
28263            CO  1020936      13390.903800
27396            CT   843071      11922.487920
22315            DC   896003      12061.667520
27744            DE   690981      10061.726640
23306            FL   936696      11840.995140
24572            GA   882281      12865.769280
23287            HI   879508      13056.512400
7778             IA   248498       2203.097472
32323            ID   293977       2930.691456
22018            IL   994796      13390.903800
7824             IN   182845       2784.891888
37157            KS   831331      10883.765640
24553            KY  1003229      11056.500840
20534            LA   881875      12160.115520
24681            MA   890375      12810.594960
22308            MD  1034059      14418.590760
31970            ME   142608        620.391852
24699            MI  1018129      11840.995140
21938            MN  1054653      10673.581560
22001            MO  1045045      13056.512400
9182             MS   381578       2862.288792
21147            MT   994355      10423.029120
21652            NC   989285      13390.903800
7070             NE   178157       2229.396480
22953            NH   968585       9784.263000
24680            NJ  1035681      12810.594960
6608             NM  1066706       9579.691800
22296            NV   888402      11840.995140
23363            NY   976906      13729.366620
6239             OH   965807      13390.903800
23284            OK  1034920      12483.350220
22263            OR  1009540       9742.051200
23366            PA   856652      13808.005200
24067            RI   653295       6971.328000
37220            SC   772157      12852.896760
35151            SD   811240       5318.937360
36470            TN   976860       2491.713720
24096            TX   978527      13390.903800
21998            UT   772405      11622.380520
6469             VA  1035425      12810.594960
24360            VT  1038738       3606.273000
6363             WA   968759      11840.995140
22318            WI  1019978      14071.921920
23829            WV  1031612       9066.024660
5972             WY   767286       7647.409440

In [37]:
df['income_quartile'] = pd.qcut(df['annual_income'], 4, labels=['Q1','Q2','Q3','Q4'])
quartile_stats = df.groupby('income_quartile').agg({'default_flag':'mean','loan_amount':'mean','int_rate':'mean'})
print(quartile_stats)

                 default_flag   loan_amount  int_rate
income_quartile
Q1                   0.169479   7147.463506  0.117847
Q2                   0.146911  10234.759725  0.119179
Q3                   0.126737  12552.812051  0.120755
Q4                   0.107113  15565.543343  0.124387

C:\Users\chait\AppData\Local\Temp\ipykernel_2636\2880222183.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  quartile_stats = df.groupby('income_quartile').agg({'default_flag':'mean','loan_amount':'mean','int_rate':'mean'})

In [38]:
bins = [0,0.1,0.2,0.3,1]
labels = ['<0.1','0.1-0.2','0.2-0.3','>0.3']
df['dti_bucket'] = pd.cut(df['dti'], bins=bins, labels=labels)
dti_stats = df.groupby('dti_bucket')['int_rate'].mean()
print(dti_stats)

dti_bucket
<0.1       0.114698
0.1-0.2    0.122826
0.2-0.3    0.124806
>0.3            NaN
Name: int_rate, dtype: float64

C:\Users\chait\AppData\Local\Temp\ipykernel_2636\1303977781.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dti_stats = df.groupby('dti_bucket')['int_rate'].mean()

In [39]:
term_purpose_risk = df.groupby(['term','purpose'])['default_flag'].mean().sort_values(ascending=False)
print(term_purpose_risk)

term        purpose
 60 months  educational           0.428571
            small business        0.345550
            vacation              0.254545
            house                 0.252101
            other                 0.250307
            Debt consolidation    0.233723
 36 months  small business        0.213633
 60 months  medical               0.212500
            credit card           0.208661
            renewable_energy      0.200000
            major purchase        0.183857
            moving                0.181818
 36 months  renewable_energy      0.173913
 60 months  wedding               0.162037
            home improvement      0.156863
 36 months  educational           0.146179
            moving                0.143478
 60 months  car                   0.139963
 36 months  medical               0.130178
            other                 0.127285
            vacation              0.121212
            house                 0.109312
            Debt consolidation    0.108477
            home improvement      0.095072
            car                   0.082809
            major purchase        0.074519
            credit card           0.074335
            wedding               0.071629
Name: default_flag, dtype: float64

In [40]:
multi_loans = df.groupby('member_id').filter(lambda x: len(x)>1)
multi_stats = multi_loans.groupby('member_id').agg({'loan_amount':'mean','int_rate':'mean','default_flag':'mean'})
print(multi_stats)

Empty DataFrame
Columns: [loan_amount, int_rate, default_flag]
Index: []

In [41]:
df['issue_period'] = pd.cut(df['issue_date'].dt.month, bins=[0,6,12], labels=['First Half','Second Half'])
issue_stats = df.groupby('issue_period')['default_flag'].mean()
print(issue_stats)

issue_period
First Half     0.133640
Second Half    0.141542
Name: default_flag, dtype: float64

C:\Users\chait\AppData\Local\Temp\ipykernel_2636\2765848817.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  issue_stats = df.groupby('issue_period')['default_flag'].mean()

In [42]:
purpose_subgrade_default = df.groupby(['purpose','sub_grade'])['default_flag'].mean().sort_values(ascending=False)
print(purpose_subgrade_default)

purpose           sub_grade
house             F4           1.0
medical           G1           1.0
renewable_energy  G5           1.0
                  G4           1.0
                  F1           1.0
                              ...
moving            F1           0.0
                  E3           0.0
medical           F5           0.0
                  F4           0.0
wedding           G5           0.0
Name: default_flag, Length: 450, dtype: float64

In [43]:
df['installment_income_ratio'] = df['installment']/df['annual_income']
bins = [0,0.05,0.1,1]
labels = ['Low','Medium','High']
df['installment_ratio_bucket'] = pd.cut(df['installment_income_ratio'], bins=bins, labels=labels)
installment_stats = df.groupby('installment_ratio_bucket')['default_flag'].mean()
print(installment_stats)

installment_ratio_bucket
Low       0.138247
Medium         NaN
High           NaN
Name: default_flag, dtype: float64

C:\Users\chait\AppData\Local\Temp\ipykernel_2636\4022972806.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  installment_stats = df.groupby('installment_ratio_bucket')['default_flag'].mean()

In [44]:
emp_length_revenue = df.groupby('emp_length')['expected_revenue'].sum().sort_values(ascending=False)
print(emp_length_revenue)

emp_length
10+ years    1.975270e+07
2 years      7.249109e+06
3 years      7.060465e+06
< 1 year     7.016640e+06
4 years      6.228441e+06
5 years      6.073700e+06
1 year       5.253772e+06
6 years      4.270770e+06
7 years      3.490651e+06
8 years      2.875005e+06
9 years      2.437116e+06
Name: expected_revenue, dtype: float64

In [45]:
ver_subgrade = df.groupby(['verification_status','sub_grade'])['default_flag'].mean().sort_values(ascending=False)
print(ver_subgrade)

verification_status  sub_grade
Not Verified         F5           0.642857
                     G3           0.600000
                     G2           0.500000
Source Verified      G5           0.500000
Verified             F5           0.462687
                                    ...
                     A2           0.049470
Source Verified      A2           0.038265
Not Verified         A1           0.024180
Verified             A1           0.023256
Source Verified      A1           0.019934
Name: default_flag, Length: 105, dtype: float64

In [46]:
total_acc_corr = df['total_acc'].corr(df['default_flag'])
print("Correlation total accounts vs default:", total_acc_corr)

Correlation total accounts vs default: -0.01968464924911678

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

features = ['installment','loan_amount','int_rate','annual_income']
X = df[features]
y = df['default_flag']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
importance = pd.Series(model.coef_[0], index=features).sort_values(ascending=False)
print(importance)

loan_amount      0.000095
int_rate        -0.000003
annual_income   -0.000023
installment     -0.003895
dtype: float64

In [48]:
missing_summary = df.isnull().sum()
outliers = df[(df['int_rate']>1) | (df['emp_length'].str.contains('-'))]  # example check
print("Missing values:\n", missing_summary)
print("Potential outliers:\n", outliers.head())

Missing values:
 id                             0
address_state                  0
application_type               0
emp_length                     0
emp_title                   1438
grade                          0
home_ownership                 0
issue_date                     0
last_credit_pull_date          0
last_payment_date              0
loan_status                    0
next_payment_date              0
member_id                      0
purpose                        0
sub_grade                      0
term                           0
verification_status            0
annual_income                  0
dti                            0
installment                    0
int_rate                       0
loan_amount                    0
total_acc                      0
total_payment                  0
default_flag                   0
term_months                    0
expected_revenue               0
time_to_last_payment           0
expected_last_payment          0
loan_bucket                    0
income_loan_ratio              0
income_quartile                0
dti_bucket                   173
issue_period                   0
installment_income_ratio       0
installment_ratio_bucket       0
dtype: int64
Potential outliers:
 Empty DataFrame
Columns: [id, address_state, application_type, emp_length, emp_title, grade, home_ownership, issue_date, last_credit_pull_date, last_payment_date, loan_status, next_payment_date, member_id, purpose, sub_grade, term, verification_status, annual_income, dti, installment, int_rate, loan_amount, total_acc, total_payment, default_flag, term_months, expected_revenue, time_to_last_payment, expected_last_payment, loan_bucket, income_loan_ratio, income_quartile, dti_bucket, issue_period, installment_income_ratio, installment_ratio_bucket]
Index: []

[0 rows x 36 columns]